name: Build Plugin

on:
  push:
    branches: [ main, develop ]
    tags:
      - '*'            # <--- IMPORTANT: roda em tags v1.0.0, v1.0.1 etc
  pull_request:
    branches: [ main ]

permissions:
  contents: write       # <--- IMPORTANT: permite anexar assets no Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 25 (Oracle)
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'oracle'

      - name: Cache Gradle Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Build with Gradle (shadowJar)
        run: ./gradlew clean shadowJar

      - name: Upload Artifact (optional)
        uses: actions/upload-artifact@v4
        with:
          name: plugin-jar
          path: build/libs/*.jar

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 25 (Oracle)
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'oracle'

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Build with Gradle (shadowJar)
        run: ./gradlew clean shadowJar

      # (Opcional) padronizar nome do arquivo anexado
      - name: Rename jar
        run: |
          JAR_PATH=$(ls build/libs/*.jar | head -n 1)
          cp "$JAR_PATH" "ChunkGenerator-${GITHUB_REF_NAME}.jar"

      - name: Create/Update Release and upload asset
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ChunkGenerator-${{ github.ref_name }}.jar
  

  publish:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Show Version Info
        run: echo "Current Ref is $GITHUB_REF"

      - name: Publish Package
        run: |
          chmod +x gradlew
          ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}